<html>
    <head>
        <link rel="stylesheet" href="styles/styles.css" />
        <style>
    .bg{
        margin-top: 8rem;
    display: inline-flex;}
    img{
    width: 50%;}
    h1{
    font-size: 48px;
    color: green;
    text-align: center;
    margin-top: 11rem;
}

        </style>
    </head>
    <body>
    
           <div class="bg">
          <img src="https://media.istockphoto.com/id/1317638729/fr/vectoriel/fond-horizontal-floral.jpg?s=612x612&w=0&k=20&c=7s1tYXgAL0t3KPBoBQhI2IE03Dsr04stc_WQW6EIvY8="> <h1>Bonjour Oumeima!
           </h1> </div>
       
    </body>
</html>
