<html>
    <head>
        <link rel="stylesheet" href="styles/styles.css" />
        <style>
    .bg{
        margin-top: 8rem;
    display: inline-flex;}
    img{
    width: 50%;}
    h1{
    font-size: 48px;
    color: green;
    text-align: center;
    margin-top: 11rem;
}

        </style>
    </head>
    <body>
    
           <div class="bg">
          <img src="https://ticvic.com/wp-content/uploads/2023/02/why-ticvic.gif"> <h1>  Hello "IT Gate Training" community members.
           </h1> </div>
       
    </body>
</html>
